div.acco-wrapper {
  padding-top: 2rem;
  h2 {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #f68d6f;
    width: 15rem;
    margin: 0 auto 1rem auto;
  }
  h3 {
    margin-bottom: 0.5rem;
  }
}
