div.sched-wrapper {
  padding-top: 2rem;
  font-size: 1rem;
  h2 {
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #f68d6f;
    width: 15rem;
    margin: 0 auto 1rem auto;
  }
  h3 {
    font-size: 1.125rem;
  }
  .schedule-date {
    font-size: 1rem;
  }

  img {
    width: 100%;
    margin-top: 5rem;
    height: 25rem;
    object-fit: cover;

    @media (min-width: 769px) {
      height: 30rem;
    }
    @media (min-width: 1300px) {
      height: 30rem;
    }
    @media (min-width: 1500px) {
      height: 60rem;
    }
  }
}
